html, body {
    height: 100%;

}

body {
    background-color: #737373;
    font-family: Arial, Helvetica, sans-serif;
    color: #110303;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cabecalho {
    background-image: url(img/tarjapng.png);
    height: 40em;
    background-size: cover;
    padding-top: 1px;
    background-position: right;
    background-attachment: fixed;

}

.div-cabecalho {
    color: #5f0404;
    margin: 250px auto 0 auto;
    width: 100%;
    text-align: center;
}

.div-cabecalho h1 {
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: 3px 3px rgba(73, 7, 7, 0.5);
    padding: 1em;
    letter-spacing: 1px;
}


.cabecalho nav ul {
    margin: 25px 40px 0 0;
    text-align: right;
}

.cabecalho nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    padding: 1.2em;
}

.cabecalho nav a {
    background-color: #A67B7B;
    color: #5f0404;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.cabecalho nav a:hover {
    background-color: #5f0404;
    text-decoration: none;
    color: #A67B7B;
    padding: 5px;
    border-radius: 5px;
}

main {
    flex: 1;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    background-color: #ad8a8a;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 300px;
    margin: 10px;
}

article h2 {
    background-color: #5c5757;
    color: #5f0404;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    padding: 0.3em;
}

p {
    text-align: justify;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

.config-img {
    height: 80px;
    float: left;
    padding-right: 5px;
}

.config-img:hover {
    transform: scale(1.2);
}

.img:hover {
    transform: scale(1.02);
}

.body_slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#slider {
    display: grid;
    width: 100%;
    height: 100vh;
    position: center center;
    }

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: opacity 400ms;
    border-radius: 10px;
}

#slider img.selected {
    opacity: 1;
}


/* Media Queries */
@media (max-width: 1200px) {
    .cabecalho {
        background-size: contain;
        height: 700px;
    }

    .div-cabecalho h1 {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        background-size: cover;
        height: 500px;
    }

    .div-cabecalho h1 {
        font-size: 40px;
    }

    nav ul {
        margin-right: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .cabecalho {
        background-position: center;
        background-size: contain;
        height: max-content;
    }

    .div-cabecalho h1 {
        font-size: 30px;
    }

    .config-img {
        height: 50px;
    }

    article {
        flex: 1 1 100%;
    }

    .body_slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #slider {
        display: grid;
        position: center center;
    }

    #slider img {
        opacity: 0;
        position: absolute;
        width: 80%;
        height: auto;
        object-fit: scale-down;
        transition: opacity 400ms;
        border-radius: 10px;
    }
}


footer {
    color: #A67B7B;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    background-color: #5f0404;
}

footer p {
    text-align: center;
    margin: 0;
}

footer a {
    color: #A67B7B;
    text-decoration: none;
}